<%= render 'search_form' %>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="col-md-3">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <div class="card-img-top">
                <%= image_tag image_url(recipe.image), alt: recipe.title, class: "img-fluid", width: 300, height: 100 %>
              </div>
              <a class="card-title"><%= recipe.title %></a>
              <div class="card-text"><strong>Cook Time:</strong> <%= recipe.cook_time %> min</div>
              <div class="card-text"><strong>Prep Time:</strong> <%= recipe.prep_time %> min</div>
              <div class="card-text"><strong>Ratings:</strong> ⭐ <%= recipe.ratings %></div>
              <div class="card-text">
                <% if recipe.category.present? %>
                  <span class="ui label"><strong>Category:</strong> <%= recipe.category.name %></span>
                <% end %>
              </div>
              <div class="card-text">
                <strong>Ingredients:</strong>
                <%= recipe.formatted_ingredients %>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" title="Not implemented">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= will_paginate @recipes, class: "pagination" %>
    </div>
  </div>
</div>
